button {
    font-family: 'Merriweather', serif !important;
    color: black !important;
    text-decoration: none;
  }

  .css-1juivf6-MuiTypography-root{
    font-family: 'Merriweather', serif !important;
  }

  * {
    text-decoration: none;
    font-family: 'Merriweather', serif !important;
  }

  .css-ahj2mt-MuiTypography-root {
    font-size: 10px !important;
  }